@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background: #111827;
  color: #f3f4f6;
}

.app {
  width: 840px;
  margin: 0 auto;
}

svg#github {
  fill: #fff !important;
  color: #000 !important;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  z-index: 1000;
}